* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    font-size: 18px
}
.window {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

@media screen and  (max-width: 768px) {
    .window {
        flex-direction: column;
        font-size: 13px
    }
    .page {
        height: 45vh;
    }
}

@media screen and  (min-width: 770px){
    .page {
        height: 90vh;
        width:50%;        
    }
}

::-webkit-scrollbar {
    display: none
}

#paper {
    color: rgb(31, 29, 29)
}

@keyframes move { from { transform: rotate(0turn) } to {  transform: rotate(1turn) }  }
@keyframes change{
    0%{box-shadow:0 0 3px black}
    25%{box-shadow:0 0 3px rgb(197, 130, 130)}
    50%{box-shadow:0 0 3px rgb(199, 163, 233)}
    75%{box-shadow:0 0 3px rgb(166, 231, 210)}
    100%{box-shadow:0 0 3px rgb(152, 182, 107)}
}
img {
    width: 240px;
}
